.footer {
    background-color: #FFFFFF;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 34px 0;

    }
  
    &__link {
      font-size: 16px;
      line-height: 22px;
      margin-right: 8px;
      color: black;
     }

     &__copyright-text {
      font-size: 16px;
      line-height: 22px;     
      }
  }
