.yellow-botton {
  background-color: #FFE01B;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

&__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #3A4959;
  
 }
}