.news-page {
    background: #F2F2F2;
  
    &__content {
      padding: 50px 0 50px 0;
    }
    &__block {
      display: flex;
    }
    &__photo {
      min-width: 280px;
      height: 287px;
      background: no-repeat center / cover;
      margin-right: 20px;
    }
   
    &__icon {
      margin-right: 20px;
      margin-top: 22px;
      display: inline-block;
  
      &_city {
        display: inline-block;
        background-image: url('./img/sprite.png');
        width: 71px;
        height: 71px;
        background-position: -7px 0;
        margin-right: 7px;
      }
      &_photo {
        display: inline-block;
        background-image: url('./img/sprite.png');
        width: 71px;
        height: 71px;
        background-position: -78px 0;
        margin-right: -3px;
      }
      &_data {
        display: inline-block;
        background-image: url('./img/sprite.png');
        width: 71px;
        height: 71px;
        background-position: -149px 0;
        margin-right: -1px;
      }
    }
    &__icon-text {
      display: inline-block;
      position: relative;
      bottom: 19px;
    }
    &__gallery {
    margin-top: 27px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

    //display: flex;
    //flex-wrap: wrap;
    //margin: 0 -10px;


